.park {
    border: 1px solid rgba(192,192,192,0.7);
    text-align: center;
    background-color: rgba(192,192,192,0.7);
}
body {
    background: url('/img/nationalPark.jpg');
    background-size: cover;
}
.title {
    text-align: center;
}
#next {
    margin-left: 600px;
}
.form-group {
    border-radius: 5px;
}
#submit {
    width: 150px;
    height: 50px;
    margin-right: 40px;
}
form {
    margin: 150px 0px 0px 0px;
}
#errorMessage {
    display: inline;
    background-color: white;
}
