
.aboutLeft {
    background-color: red;
    width: 500px;
}
.aboutLeft>h1 {
    font-family: cursive;
    margin: 0px;
}
.navbar-brand>img {
    height: 45px;d
    width: 45px;
    position: relative;
    bottom: 12px;
}
.navbar {
    background-color: transparent;
    border: none;
}
body {
    /*background-image: url("/img/Earth-space.jpg");*/
    background-attachment: fixed;
    background-size: cover;
}
.dropdown-menu {
    background-color: transparent;
}
.collapsed {
    background-color: white;
}
